/* width /height valid scalar units '%', 'fr', 'h', 'vh', 'vw', or 'w' */

.flat_button {
  background-tint: $primary-muted;
  background: $primary-muted;
  border-bottom: inner $primary-muted;
  border-left: none;
  border-right: none;
  border-top: inner $primary-muted;
  color: $text-muted;
  width: 100%;

  &:hover {
    color: $foreground;
  }

  &:focus {
    text-style: bold;
    color: $text-accent;
  }

  &.last_clicked_flat_btn {
    color: $text-accent;
    text-style: bold;

    &:hover {
      color: $text-accent;
    }

    &:focus {
      text-style: bold;
      color: $text-accent;
    }
  }
}

.flow_diagram {
  min-width: 78;
}

.op_btn_group {
  dock: bottom;

  &>.operate_button {
    background-tint: $surface-lighten-1;
    background: $surface-lighten-1;
    border-top: wide $primary-darken-3;
    border-bottom: inner $surface-lighten-1;
    color: $primary-lighten-3;
    margin: 0 1;
    text-style: none;
    width: 1fr;

    &:hover {
      text-style: none;
      color: $accent;
      border-top: wide $accent-darken-3;
    }

    &:focus {
      text-style: none;
    }
  }
}

.operate_pane {
  &>.operations_left {
    width: auto;

    &>.dest_dir_button {
      background-tint: $surface-lighten-1;
      background: $surface-lighten-1;
      border-bottom: inner $surface-lighten-1;
      border-top: inner $surface-lighten-1;
      color: $text-primary;
      padding: 0 1 0 1;
      text-style: bold;
      width: 100%;

      &:hover {
        color: $text-accent;
        text-style: bold;
      }

      &:focus {
        text-style: bold;
      }
    }

    &>.managed_tree {
      height: 1fr;
      width: auto;
    }
  }

  &>.operations_middle {
    margin: 0 1;
    height: 1fr;
  }

  &>.operations_right {
    width: 25;

    &>.switches_vert_group {
      .switch_with_label {
        background-tint: $surface;
        background: $surface;
        border-bottom: inner $surface;
        border-top: inner $surface;
        padding-left: 2;
      }
    }

    &>.refresh_button {
      background-tint: $surface;
      background: $surface;
      border-top: wide $surface;
      border-bottom: inner $surface;
      color: $primary-lighten-3;
      min-width: 18;
      text-style: none;
      width: 100%;
      height: 3;

      &:hover {
        text-style: none;
        color: $accent-lighten-1;
      }

      &:focus {
        text-style: none;
      }
    }
  }
}


.splash_log {
  min-height: 16;
  height: auto;
}

/**********************/
/* Type Selector tcss */
/**********************/

AnimatedFade,
AppLog,
CmdLog,
DiffView {
  margin-bottom: 2;
}

CustomHeader {
  border-bottom: dashed $panel;
  color: $primary;
  height: 2;
  text-style: bold;

  &>.live_run_color {
    color: $warning;
  }
}

DoctorTable {
  margin-bottom: 1;
}

FlatButtonsVertical {
  padding-right: 2;
  width: auto;
}

TabButtons {
  height: 2;
  width: 100%;
  border-bottom: solid $primary;
  border-subtitle-align: center;
  border-subtitle-style: bold;

  &>.single_button_vertical {
    align: center middle;
  }

  .tab_button {
    border: none;
    min-width: 3;
    text-style: bold;
    color: $foreground 60%;

    &:hover {
      color: $foreground;
    }

    &:focus {
      text-style: bold;
      color: $text-accent 80%;
    }

    &.last_clicked_tab_btn {
      color: $text-accent 80%;
      text-style: bold;

      &:hover {
        color: $text-accent 80%;
      }

      &:focus {
        text-style: bold;
        color: $text-accent 80%;
      }
    }
  }
}

/***********************************/
/* textual default tcss overrides  */
/***********************************/

* {
  background-tint: $background;
  scrollbar-size-vertical: 1;
  scrollbar-background: $background;
  scrollbar-background-active: $background;
  scrollbar-background-hover: $background;
  scrollbar-corner-color: $background;
}

Collapsible {
  border-top: none;
  padding-bottom: 0;
  padding-left: 0;

  &>Contents {
    padding: 0 0 1 1;
  }
}

CollapsibleTitle {
  padding: 0;
  text-style: none;

  &:hover {
    text-style: bold;
  }
}

DataTable {
  height: 1fr;

  &.datatable--header {
    text-style: none;
  }
}

Footer {
  background-tint: $panel;
  background: $panel;
}

Label {
  padding: 0 1;
  text-align: center;
  border-left: none;
  border-right: none;

  &MainSectionLabel {
    background-tint: $surface-lighten-1;
    background: $surface-lighten-1;
    border-bottom: inner $surface-lighten-1;
    border-top: inner $surface-lighten-1;
    color: $text-accent;
    width: 1fr;
  }

  &SubSectionLabel {
    background-tint: $panel;
    background: $panel;
    border-bottom: wide $panel;
    color: $text-success;
    width: 1fr;
  }

  &FlatSectionLabel {
    background-tint: $primary-muted;
    background: $primary-muted;
    border-bottom: wide $primary-muted;
    color: $primary-lighten-3;
    width: 1fr;
  }
}

RadioSet {
  border: none;
  padding: 1 1 0 1;
  border-bottom: wide $surface;
  background: $surface;
  background-tint: $surface;

  &:blur {
    &>RadioButton.-selected {
      &>.toggle--label {
        text-style: bold;
        color: $text-success;
      }
    }
  }

  &:focus {
    &>RadioButton.-selected {
      &>.toggle--label {
        background: $surface;
        background-tint: $surface;
        color: $text-success;
        text-style: $block-cursor-text-style;
      }
    }
  }
}

ToggleButton {
  padding-bottom: 1;

  &>.toggle--button {
    background: $surface;
    background-tint: $surface;
  }

  &.-on>.toggle--button {
    color: $text-success;
  }

  &:blur:hover {
    &>.toggle--label {
      background: $surface;
      background-tint: $surface;
      text-style: bold;
    }
  }
}

Static {
  &.added {
    background-tint: $success-muted;
    background: $success-muted;
    color: $text-success;
  }

  &.changed {
    background-tint: $warning-muted;
    background: $warning-muted;
    color: $text-warning;
  }

  &.context {
    background-tint: $surface;
    background: $surface;
    color: $text-disabled;
  }

  &.full_cmd {
    background-tint: $primary-muted;
    background: $primary-muted;
    border-top: wide $primary-muted;
    border-bottom: inner $primary-muted;
    color: $primary-lighten-3;
    text-align: center;
    width: 1fr;
  }

  &.cmd_output {
    border-bottom: inner $surface;
    background-tint: $surface;
    background: $surface;
    color: $text;
    padding: 0 1;
  }

  &.info {
    border-top: inner $surface;
    border-bottom: inner $surface;
    background-tint: $surface;
    background: $surface;
    color: $text;
    padding: 0 1;
  }

  &.removed {
    background-tint: $error-muted;
    background: $error-muted;
    color: $text-error;
  }

  &.unhandled {
    /* only used for debugging by visualizing unhandled formatting conditions */
    background-tint: $error-darken-3;
    background: $error-darken-3;
    color: $foreground;
  }
}

Switch {
  background: $surface;
  background-tint: $surface;
  border: none;
  padding-right: 1;

  &>.switch--slider {
    color: $error-darken-3;
  }

  &.-on .switch--slider {
    color: $success-darken-2;
  }

  &:hover {
    &>.switch--slider {
      color: $error-darken-1;
    }

    &.-on>.switch--slider {
      color: $success-lighten-1;
    }
  }

  &:disabled {
    &>.switch--slider {
      color: $panel-lighten-3;
    }

    &:hover {
      &>.switch--slider {
        color: $panel-lighten-3;
      }

      &.-on>.switch--slider {
        color: $panel-lighten-3;
      }
    }
  }
}

TabbedContent {

  /* center the tab buttons on top */
  & #tabs-list {
    align: center top;
  }

  & Tab {
    margin: 0 2;
  }
}

Tree {
  &>.tree--cursor {
    color: cyan;
    text-style: none;
  }

  &>.tree--label {
    text-style: none;
  }

  &>.tree--highlight {
    color: cyan;
  }

  &>.tree--guides {
    color: $primary-lighten-3;
  }

  &>.tree--guides-hover {
    color: $primary-lighten-3;
  }

  &>.tree--guides-selected {
    color: $primary-lighten-3;
  }

  &:focus {
    &>.tree--guides {
      color: $primary-lighten-3;
    }

    &>.tree--guides-hover {
      color: $primary-lighten-3;
    }

    &>.tree--guides-selected {
      color: $primary-lighten-3;
    }
  }
}